.menu {

}
.menu ul.list {
  display: flex;
  list-style: none;
}
.menu ul.list li {
  flex: 1;
  text-align: center;
  cursor: pointer;
  margin: 1rem;
  background: grey;
  color: white;
}
ul.list {
  padding: 0;
}

section ul.list li:nth-child(2n) {
  background: #eee;
}
#charge .list li b {
  margin-left: 1rem;
}

#overview .list li, #charge .list li, #use .list li {
  display: flex;
}
#overview .list li *, #charge .list li *, #use .list li * {
  flex:1;
}